@font-face {
    font-family:'Public Sans', sans-serif;
    src: url(../fonts/PublicSansVariableFont_wght.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville', serif;
    src: url(../fonts/LibreBaskervilleRegular.woff2);
    font-weight: 400;
    font-style: normal;
}